* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.flex-container-coloumn {
	display: flex;
	flex-direction: column;

	/* properti pendukung */
	max-width: 800px;
	margin: 0 auto;
	text-align: right;
}

.flex-container-row {
	display: flex;
}

.button {
	flex-basis: 25%;

	/* properti pendukung */
	font-size: 1.5em;
	text-align: center;
	padding: 40px;
	border: 1px solid black;
	background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
	cursor: pointer;
}

.double {
	flex-basis: 50%;
}

/* Tampilan */
.card {
	padding: 30px;
	margin-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.display {
	background-color: #393E46;
	font-size: 2em;
	color: white;
	width: 100%;
	padding: 10px 20px;
	border: 1px solid black;
	overflow: auto;
}

.operator,
.negative,
.equals {
	background: #AAD8D3;
}

.button:hover {
	font-weight: bold;
	opacity: 0.7;
}

/* History */
.history {
	width: 80%;
	margin: 30px auto 0 auto;
	overflow: scroll;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

th {
	background-color: #AAD8D3;
	color: black;
}

th, td {
	text-align: center;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #d2d2d2;
}

@media screen and (max-width: 513px) {
	.button {
		padding: 10px;
	}

	.history {
		width: 100%;
	}
}
